extends _layout/master

block content
  h2 這是 pug SSR 測試頁面
  table 
    tbody
      tr
        each stock in stocks 
          td #{stock}
      tr
        each number in stockNo
          td #{number}